html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color:#3772FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color:#E6E8E6;
    display: flex;
    color: #ffffff;
    align-items: flex-end;
    justify-content: space-between;
}
header h1{
    background-color: #FDCA40;
    padding: .3em;
    margin-left: 2em;
}
.header-container{
    display: flex;
    align-items: flex-end;
}
header ul{
    margin-right: 1.2em;
    display: flex;
    list-style: none;
    gap: 1em;
}
header li {
    background-color: #DF2935;
    padding: .5em;
    cursor: pointer;
}
header li:hover {
    text-decoration-line: underline;
    text-decoration-color: antiquewhite;
}
header img {
    margin-left: 1.5em;
    max-width: 6em;
    max-height: 6em;
    size-adjust: cover;
}
footer{
    margin-top: auto;
    background-color: #E6E8E6;
    color: #DAE3E5;
    display: flex;
    justify-content: center;
}
footer p {
    background-color:#DF2935;
    font-size: 1.2em;
    padding: .5em;
}
main{
    background-image: url("img/mm.jpg");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
main p {
    background-color: #080708;
    color:white;
    max-width: fit-content;
    opacity: 0.8;
    margin-top: .7em;
    padding: .9em;
}
.sign{
    margin-top: 1.2em;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    align-items: center;
    gap: .6em;
    background-color: #FDCA40;
    max-width: fit-content;
    padding: 2.5em;
    color:#ffffff;
}
.sign p {
    background-color: #E6E8E6;
    font-size: 1.3em;
    max-width: fit-content;
}
.sign h1{
    background-color: #E6E8E6;
    border-radius: 100%;
    max-width: fit-content;
    color:#080708;
    padding:.5em
}
.sign input{
    background-color: #BBD1EA;
    border-radius: 5%;
}
.submit{
    margin-top: 1em;
    background-color:#0b63dd;
    color: #ffffff;
    font-size: 1.2em;
}
.signups{
    min-width: 100%;
    display: flex;
    gap: 5.5em;
    flex-direction:row;
    justify-content: center;
    align-self: center;
}